.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.background-opacity-50 {
    background: rgba(0, 0, 0, 0.5);
}

.cursor-pointer {
    cursor: pointer;
}

.background-gray {
    background: #f0f0f0;
}

/*new book*/

.list-book-new{
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    gap: 11px;
}

.hiden-scroll::-webkit-scrollbar {
    display: none;
}

.book {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    width: 250px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.image-book {
    width: 190px;
    height: auto;
}

.book-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.4rem;
    line-height: 1.2rem;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.book-price {
    font-weight: bold;
    color: crimson;
    margin-top: 8px;
    font-size: 18px;
    align-self: start;
}

.book-price-discount {
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
    align-self: start;
}

.paid {
    color: lightgray;
    font-size: 14px;
    margin-top: 10px;
}

.book-new-button-left, .book-new-button-right {
    opacity: 0.6;
}

.book-new-button-left:hover, .book-new-button-right:hover {
    opacity: 0.9;
    cursor: pointer;
}

/*shopping trands*/

.list-book-shopping-trend{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    flex-wrap: wrap;
    justify-items: center;
}

.hover-card-new-book:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
